openapi: 3.1.0
info:
  title: Portkey AI Gateway Analytics Integrations API
  version: 1.0.0
  description: REST API for the Portkey AI Gateway, exposing OpenAI-compatible inference endpoints (chat, completions, embeddings, images, audio, files, batches, fine-tuning, assistants and threads, prompts, responses) plus admin endpoints for analytics, configs, API keys, integrations, providers, virtual keys, guardrails, policies, prompt management, workspaces, MCP, logs, and feedback. Selected as the canonical "AI gateway" exemplar for this index entry; the broader landscape is catalogued in apis.yml.
  contact:
    name: Portkey
    url: https://portkey.ai/docs/
servers:
- url: https://api.portkey.ai/v1
  description: Production inference and admin API
security:
- PortkeyApiKey: []
  PortkeyProvider: []
tags:
- name: Integrations
paths:
  /integrations:
    get:
      tags:
      - Integrations
      summary: List LLM provider integrations
      responses:
        '200':
          description: Integrations
    post:
      tags:
      - Integrations
      summary: Create an integration
      responses:
        '200':
          description: Integration created
  /providers:
    get:
      tags:
      - Integrations
      summary: List providers
      responses:
        '200':
          description: Providers
components:
  securitySchemes:
    PortkeyApiKey:
      type: apiKey
      in: header
      name: x-portkey-api-key
      description: Portkey API key header.
    PortkeyProvider:
      type: apiKey
      in: header
      name: x-portkey-provider
      description: Upstream provider selector header.
