openapi: 3.2.0
info:
  title: Portkey AI Gateway Policies API
  version: 1.0.0
  description: REST API for the Portkey AI Gateway, exposing OpenAI-compatible inference endpoints (chat, completions, embeddings, images, audio, files, batches, fine-tuning, assistants and threads, prompts, responses) plus admin endpoints for analytics, configs, API keys, integrations, providers, virtual keys, guardrails, policies, prompt management, workspaces, MCP, logs, and feedback. Selected as the canonical "AI gateway" exemplar for this index entry; the broader landscape is catalogued in apis.yml.
  contact:
    name: Portkey
    url: https://portkey.ai/docs/
servers:
- url: https://api.portkey.ai/v1
  description: Production inference and admin API
security:
- PortkeyApiKey: []
  PortkeyProvider: []
tags:
- name: Policies
paths:
  /policies/rate-limits:
    get:
      tags:
      - Policies
      summary: List rate-limit policies
      responses:
        '200':
          description: Policies
      operationId: getPoliciesRateLimits
      x-operation-id-source: derived
    post:
      tags:
      - Policies
      summary: Create a rate-limit policy
      responses:
        '200':
          description: Policy created
      operationId: postPoliciesRateLimits
      x-operation-id-source: derived
  /policies/usage-limits:
    get:
      tags:
      - Policies
      summary: List usage-limit policies
      responses:
        '200':
          description: Policies
      operationId: getPoliciesUsageLimits
      x-operation-id-source: derived
    post:
      tags:
      - Policies
      summary: Create a usage-limit policy
      responses:
        '200':
          description: Policy created
      operationId: postPoliciesUsageLimits
      x-operation-id-source: derived
components:
  securitySchemes:
    PortkeyApiKey:
      type: apiKey
      in: header
      name: x-portkey-api-key
      description: Portkey API key header.
    PortkeyProvider:
      type: apiKey
      in: header
      name: x-portkey-provider
      description: Upstream provider selector header.
