openapi: 3.2.0
info:
  title: Portkey AI Gateway API Keys API
  version: 1.0.0
  description: REST API for the Portkey AI Gateway, exposing OpenAI-compatible inference endpoints (chat, completions, embeddings, images, audio, files, batches, fine-tuning, assistants and threads, prompts, responses) plus admin endpoints for analytics, configs, API keys, integrations, providers, virtual keys, guardrails, policies, prompt management, workspaces, MCP, logs, and feedback. Selected as the canonical "AI gateway" exemplar for this index entry; the broader landscape is catalogued in apis.yml.
  contact:
    name: Portkey
    url: https://portkey.ai/docs/
servers:
- url: https://api.portkey.ai/v1
  description: Production inference and admin API
security:
- PortkeyApiKey: []
  PortkeyProvider: []
tags:
- name: API Keys
paths:
  /api-keys:
    get:
      tags:
      - API Keys
      summary: List API keys
      responses:
        '200':
          description: API keys
      operationId: getApiKeys
      x-operation-id-source: derived
    post:
      tags:
      - API Keys
      summary: Create an API key
      responses:
        '200':
          description: API key created
      operationId: postApiKeys
      x-operation-id-source: derived
components:
  securitySchemes:
    PortkeyApiKey:
      type: apiKey
      in: header
      name: x-portkey-api-key
      description: Portkey API key header.
    PortkeyProvider:
      type: apiKey
      in: header
      name: x-portkey-provider
      description: Upstream provider selector header.
