openapi: 3.2.0
info:
  title: Portkey AI Gateway Fine Tuning API
  version: 1.0.0
  description: REST API for the Portkey AI Gateway, exposing OpenAI-compatible inference endpoints (chat, completions, embeddings, images, audio, files, batches, fine-tuning, assistants and threads, prompts, responses) plus admin endpoints for analytics, configs, API keys, integrations, providers, virtual keys, guardrails, policies, prompt management, workspaces, MCP, logs, and feedback. Selected as the canonical "AI gateway" exemplar for this index entry; the broader landscape is catalogued in apis.yml.
  contact:
    name: Portkey
    url: https://portkey.ai/docs/
servers:
- url: https://api.portkey.ai/v1
  description: Production inference and admin API
security:
- PortkeyApiKey: []
  PortkeyProvider: []
tags:
- name: Fine Tuning
paths:
  /fine_tuning/jobs:
    post:
      tags:
      - Fine Tuning
      summary: Create a fine-tuning job
      responses:
        '200':
          description: Job created
      operationId: postFineTuningJobs
      x-operation-id-source: derived
    get:
      tags:
      - Fine Tuning
      summary: List fine-tuning jobs
      responses:
        '200':
          description: Jobs
      operationId: getFineTuningJobs
      x-operation-id-source: derived
  /fine_tuning/jobs/{id}/events:
    get:
      tags:
      - Fine Tuning
      summary: List events for a fine-tuning job
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Events
      operationId: getFineTuningJobsByIdEvents
      x-operation-id-source: derived
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    PortkeyApiKey:
      type: apiKey
      in: header
      name: x-portkey-api-key
      description: Portkey API key header.
    PortkeyProvider:
      type: apiKey
      in: header
      name: x-portkey-provider
      description: Upstream provider selector header.
